@import "utils/libs";
@import "utils/vars";
@import "utils/fonts";
@import "utils/mixins";
@import "utils/normalize";
@import "utils/templates";


.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body {
  font-family: 'DroidSerif', serif;
}

@import "modules/header/header";
@import "modules/container/container";
@import "modules/logo/logo";
@import "modules/nav/nav";
@import "modules/home/home";
@import "modules/stick/stick";
@import "modules/pick/pick";
@import "modules/utils/utils";
@import "modules/banner/banner";
@import "modules/banner-navigation/banner-navigation";
@import "modules/banner-pagination/banner-pagination";
@import "modules/banner-content/banner-content";
@import "modules/btn/btn";
@import "modules/arrow/arrow";
@import "modules/footer/footer";
@import "modules/wrapper/wrapper";
@import "modules/main/main";
@import "modules/news/news";
@import "modules/news-card/news-card";
@import "modules/news-navigation/news-navigation";
@import "modules/pay/pay";
@import "modules/social/social";
@import "modules/about/about";
@import "modules/about-list/about-list";
@import "modules/toffee/toffee";
