.footer__logo {
  width: 111px;
}
@media (max-width: 1000px) {
  .footer__logo {
    grid-column: 1/2;
  }
}

@media (max-width: 768px) {
  .footer__logo {
    justify-self: center;
    grid-column: 1/3;
    align-self: center;
  }
}