.nav__check {
  display: none;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.nav__check > span,
.nav__check > span::before,
.nav__check > span::after, {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: $nav__check--bg;
  transition-duration: .25s;
}
.nav__check > span::before {
  content: '';
  top: -8px;
}
.nav__check > span::after {
  content: '';
  top: 8px;
}

@media(max-width: 1000px) {
  .nav__check {
    display: flex;
  }
}

