.about {

}
@media (max-width: 1000px) {
  .about {
    grid-column: 2/4;
  }
}
@media (max-width: 768px) {
  .about {
    margin-bottom: 10px;
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@import "__link/about__link";
@import "__info/about__info";
@import "__list/about__list";
@import "__item/about__item";
