.nav__input:checked ~ .nav__check > span {
  transform: rotate(45deg);
}
.nav__input:checked ~ .nav__check > span::before {
  top: 0;
  transform: rotate(0);
}
.nav__input:checked ~ .nav__check > span::after {
  top: 0;
  transform: rotate(90deg);
}
.nav__input:checked ~ .nav__list {
  visibility: visible;
}
.nav__input:checked ~ .nav__list {
  clip-path: inset(0 0 0 0);
  transition: clip-path .5s ease-out;
}